@extends('layouts.app')

@section('content')

<div class="container">
	<table id="cart" class="table table-hover ">
    	

  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col">Qty</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><img src="images/photo1.jpg" width="100"></td>
      <td>Laptop</td>
      <td>$999</td>
      <td>
      	<input type="text" name="qty">
      	<button class="btn btn-secondary btn-sm"><i class="fas fa-sync"></i>update</button>
      </td>
      <td><button class="btn btn-danger">Remove</button></td>
    </tr>
        <tr>
      <th scope="row">2</th>
      <td><img src="images/photo1.jpg" width="100"></td>
      <td>Laptop</td>
      <td>$999</td>
      <td>
      	<input type="text" name="qty">
      	<button class="btn btn-secondary btn-sm"><i class="fas fa-sync"></i>update</button>
      </td>
      <td><button class="btn btn-danger">Remove</button></td>
    </tr>

  </tbody>
</table>	
<hr>
<div class="card-footer">
	<button class="btn btn-warning">Continue Shopping</button>
	<span style="margin-left:300px;">Total Price:$399</span>
	<button class="btn btn-info float-right">Checkout</button>
</div>			
</div>
@endsection